.App {
  text-align: center;
  margin-top: 20px;
}

.mycars-title {
  font-weight: 700;    /* gras */
  /* éventuellement : font-size, color, margin, etc. */
}
h1.style {
  color: red;
  text-transform: uppercase;
}